@model BDFIREBASE.Models.Contacto

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Editar producto</h4>
    </div>

    <div class="panel-body">
        <form action="@Url.Action("Editar", "Mantenedor")" method="post">
            <input type="hidden" name="IdContacto" value="@Html.DisplayTextFor(m=>m.IdContacto)" />
            <div class="form-group">
                <label>Descripción</label>
                <input class="form-control" type="text" name="Descripcion" value="@Html.DisplayTextFor(m=>m.Descripcion)" />
            </div>

            <div class="form-group">
                <label>Marca</label>
                <input class="form-control" type="text" name="Marca" value="@Html.DisplayTextFor(m=>m.Marca)" />
            </div>
            <div class="form-group">
                <label>Ícono</label>
                <input class="form-control" type="text" name="Icono" value="@Html.DisplayTextFor(m=>m.Icono)" />
            </div>

            <div class="form-group">
                <label>Precio</label>
                <input class="form-control" type="text" name="Precio" value="@Html.DisplayTextFor(m=>m.Precio)" />
            </div>

            <hr />
            <button type="submit" class="btn btn-primary">Editar</button>
            <button class="btn btn-danger" href="@Url.Action("Inicio", "Mantenedor")">Volver</button>

            <a></a>

        </form>
    </div>
</div>



