@model IEnumerable<BDFIREBASE.Models.Contacto>

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Lista de productos</h4>
    </div>
    <div class="panel-body">
        <a class="btn btn-success" href="@Url.Action("Crear", "Mantenedor")">Crear nuevo</a>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Marca</th>
                    <th>Ícono</th>
                    <th>Precio</th>
                    <th style="width:150px;"></th>
                </tr>
            </thead>

            <tbody>
                @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Descripcion</td>
                    <td>@item.Marca</td>
                    <td>@item.Icono</td>
                    <td>@item.Precio</td>
                    <td>
                        <a class="btn btn-warning btn-sm" href="@Url.Action("Editar","Mantenedor", new { idcontacto = item.IdContacto})">Editar</a>
                        <a class="btn btn-danger btn-sm" href="@Url.Action("Eliminar","Mantenedor", new { idcontacto = item.IdContacto})">Eliminar</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    @*quede en el minuto 36*@
</div>


